<%- include('./partials/header') %>

<% if (isSignedIn) { %>
    <h1> My Scheduled Appointments </h1>
    <ul class = "info">
        <% appts.forEach((appt) => { %>
        <li>
            <b>Date: </b> <%= appt.date %>
            <br>
            <b>Info: </b> <%= appt.comment %>
            <br>
            <b>Email: </b> <%= user?.email %>
            <br>
            <a href="/appts/<%= appt._id %>/edit">Edit</a>
            <br>
            <a href="/appts/<%= appt._id %>/delete">Delete</a>
        </li>
        <% }) %>
    </ul>
<% } %>
<p class="footer"> Requests will be reviewed and accepted within 12 hours! Please be patient with us. ¡Se Habla Español!</p>
<%- include('./partials/footer') %>